OPENAI_API_KEY=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""
AWS_REGION=""

AGENT_CORE_NAME=""
AGENT_CORE_CONTAINER_URI=""
AGENT_CORE_ROLE_ARN=""
AGENT_CORE_SERVER_PROTOCOL=""

COGNITO_USERNAME=""
COGNITO_PASSWORD=""
COGNITO_USER_POOL_ID=""
COGNITO_CLIENT_ID=""
COGNITO_DISCOVERY_URL=""

AGENT_ARN=""

BEARER_TOKEN=""
